[gcode_macro END_PRINT]
description: what should we do when the print job is finished
gcode:
    TURN_OFF_HEATERS
    M106 S0 ;Turn-off fan
    G1 X220 Y220 F6000        ; present print bed to the front
    G1 Z220 F6000           ; present print bed to the front
    M84 E X Y               ; disable motors ( except z )
    # SET_FILAMENT_SENSOR SENSOR=runout ENABLE=0
    # CLEAR_ACTIVE_SPOOL


# START_PRINT EXTRUDER_TEMP={first_layer_temperature[0]} BED_TEMP={first_layer_bed_temperature[0]} OOZE_TEMP=180
# START_PRINT EXTRUDER_TEMP={material_print_temperature_layer_0} BED_TEMP={material_bed_temperature_layer_0} OOZE_TEMP={material_standby_temperature}
[gcode_macro START_PRINT]
description: preparing to start a print
gcode:
    {% set OOZE = params.OOZE_TEMP|default(180)|int %}
    {% set BED = params.BED_TEMP|default(60)|float %}
    {% set HOTEND = params.EXTRUDER_TEMP|default(190)|float %}
    G90 ; use absolute coordinates
    # SET_FILAMENT_SENSOR SENSOR=runout ENABLE=1
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={OOZE}
    BED_MESH_CLEAR
    {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}
    BED_MESH_CALIBRATE
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={HOTEND}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED - 2} MAXIMUM={BED + 2}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={HOTEND - 2} MAXIMUM={HOTEND + 2}
    PRIME_LINE


# prime the nozzle 
[gcode_macro PRIME_LINE]
gcode: 
    {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}
    {% if printer.extruder.can_extrude %}
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish
    {% endif %}