#####################################################################
# 	Macro
#####################################################################
[gcode_macro M600]
description: Filament change
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro G29]
gcode:
  BED_MESH_CLEAR
  {% if "xyz" not in printer.toolhead.homed_axes %}
  G28
  {% endif %}
  BED_MESH_CALIBRATE
  G0 X0 Y0 Z10 F6000

  